@import "../../../node_modules/uikit/src/less/uikit.theme.less";
@import url("https://use.typekit.net/ijh8aqv.css");
@import "../../../node_modules/highlight.js/styles/default.css";

/*
|--------------------------------------------------------------------------
| App variables
|--------------------------------------------------------------------------
|
*/

@color-1: white;
@color-2: white;
@color-3: white;
@fonts-default: "brandon-grotesque", "Helvetica Neue", Helvetica;
@fonts-headers: "brandon-grotesque", "Helvetica Neue", Helvetica;

/*
|--------------------------------------------------------------------------
| UIkit Globals
|--------------------------------------------------------------------------
|
*/

@global-font-family: @fonts-headers;
@global-font-size: 20px;

/*
|--------------------------------------------------------------------------
| UIkit Components
|--------------------------------------------------------------------------
|
*/

@base-body-font-weight: 300;
@base-code-font-family:                         "inconsolata", Consolas, monaco, monospace;

@badge-border-radius: 5px;

/*
|--------------------------------------------------------------------------
| Custom
|--------------------------------------------------------------------------
|
*/

.bg-stripes {
  background-image: url("../images/stripes-light.png");
}