@import "vendor/uikit-2.25.0/uikit";
@import "vendor/uikit-2.25.0/components/slider";
@import "vendor/uikit-2.25.0/components/slidenav";
@import "vendor/uikit-2.25.0/components/dotnav";

@import "vars";

// Base
//@base-body-background:                          #fff;
@base-body-font-family:                         "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-body-font-weight:                         300;
@base-body-font-size:                           18px;
@base-body-line-height:                         30px;
@base-body-color:                               @text-body;
//
@base-link-color:                               @links;
//@base-link-text-decoration:                     none;
//@base-link-hover-color:                         #059;
//@base-link-hover-text-decoration:               underline;
//
//@base-code-color:                               #D05;
//@base-code-font-size:                           12px;
//@base-code-font-family:                         Consolas, monospace, serif;
//@base-em-color:                                 #D05;
//@base-ins-background:                           #ffa;
//@base-ins-color:                                #444;
//@base-mark-background:                          #ffa;
//@base-mark-color:                               #444;
//@base-quote-font-style:                         italic;
//
//@base-margin-vertical:                          15px;
//
@base-heading-font-family:                      "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-heading-font-weight:                      400;
@base-heading-color:                            @text-header;
@base-heading-text-transform:                   normal;
//@base-heading-margin-top:                       25px;
//@base-h1-font-size:                             36px;
//@base-h1-line-height:                           42px;
//@base-h2-font-size:                             24px;
//@base-h2-line-height:                           30px;
@base-h3-font-size:                             21px;
@base-h3-line-height:                           24px;
//@base-h4-font-size:                             16px;
//@base-h4-line-height:                           22px;
//@base-h5-font-size:                             14px;
//@base-h5-line-height:                           20px;
//@base-h6-font-size:                             12px;
//@base-h6-line-height:                           18px;

// Panel
@panel-title-font-weight:                       300;
@panel-title-color:                             @text-header;
@panel-title-text-transform:                    uppercase;
@panel-box-background:                          white;
.hook-panel-box-hover {
  background-color: @brand-white;
}

// Navbar
@navbar-nav-height:                             60px;
@navbar-background:                             white;
@navbar-color:                                  #444;
@navbar-link-color:                             #07D;
@navbar-link-hover-color:                       #059;
@navbar-nav-font-family:                        "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
@navbar-nav-color:                              @text-body;
@navbar-nav-font-size:                          18px;
@navbar-nav-font-weight:                        normal;
@navbar-nav-hover-background:                   transparent;
@navbar-nav-hover-color:                        @text-header;

// Buttons
@button-background:                             #473F31;
@button-color:                                  @brand-white;
@button-hover-background:                       lighten(#473F31, 20%);
@button-hover-color:                            lighten(@brand-white, 20%);
@button-active-background:                      @brand-white;
@button-active-color:                           #473F31;

@button-primary-background:                     @links;
@button-primary-color:                          @brand-white;
@button-primary-hover-background:               darken(@links, 20%);
@button-primary-hover-color:                    lighten(@brand-white, 20%);
@button-primary-active-background:              @links;
@button-primary-active-color:                   @brand-white;

// Icon
@icon-font-path:                                "../../fonts";

// Block
@block-primary-background:                      white;

// Overlay
@overlay-panel-color: @text-body;

h1, h2 {
  text-transform: uppercase;
}

h2 {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 10px solid fade(@text-body, 10%);
}

.uk-overlay-panel {
  position: relative;
  color: @text-body;
}

header {
  .uk-container {
    padding: 0;
  }
}

@media (min-width: @breakpoint-large) {

  .uk-overlay-panel {
    position: absolute;
    color: #eee;
  }

  header {
    font-size: 22px;
    line-height: 35px;
    p {
      font-weight: 400;
    }

    .uk-container {
      padding: 0 35px;
    }
  }

}